#libraries to install:
numpy == 1.16.2
matplotlib == 3.0.3
Keras == 2.2.4
Keras-Applications == 1.0.7
Keras-Preprocessing == 1.0.9
sklearn == 0.0
pandas == 0.24.2
opencv-python == 3.4.0.12
scikit-image == 0.14.2
scikit-learn == 0.20.3
scipy == 1.2.1

